* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid teal;
  justify-content: space-between;
  align-items: center;
}

.post_btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page-wrap {
  position: relative;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  max-width: 510px;
  flex-wrap: wrap;
}

.page_active {
  transform: translateY(-5px);
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightgray;
}

.navbar__item {
  margin-left: auto;
}

.navbar__item a {
  margin-right: 15px;
}

.navbar__item a:last-child {
  margin-right: 0;
}